{% extends "layout.html" %} 
{% block title %} Log Lifts {% endblock %}

{% block body %}
{% include "back_button.html" %}
<div class="container">
    <div id="mainbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">

            <div class="panel-body">
                <form class="sucess-none form form-horizontal" id="addSet">

                    <!--
                    <div class="form-group">
                        <div class="col-md-10">
                            Name:<br>
                            <select class="form-control" id="name">
                                <option value="asher_mancinelli">Asher Mancinelli</option>
                                <option value="ellis_carlson">Ellis Carlson</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    -->
                    
                    <div class="form-group">
                        <div class="col-md-10">
                            Date:<br>
                            <input class="form-control" type="date" id="date"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            Lift:<br>
                            <select class="form-control" id="lift">
                                <optgroup label="Primary">
                                    <option value="db_bench">DB Bench</option>
                                    <option value="db_ohp">DB OHP</option>
                                    <option value="db_row">DB Row</option>
                                    <option value="pull_ups">Pull Ups</option>
                                    <option value="leg_press">Leg Press</option>
                                    <option value="bent_over_row">BOR</option>
                                    <option value="db_rdl">DB RDL</option>
                                    <option value="flat_bench">Flat Bench</option>
                                    <option value="incline_db_press">Incline DB Press</option>
                                    <option value="back_squat">Back Squat</option>
                                </optgroup>
                                <optgroup label="Supplementary">
                                    <option value="dips">Dips</option>
                                    <option value="static_db_holds">Static DB Holds</option>
                                    <option value="lateral_raise">Lateral Raise</option>
                                    <option value="lateral_pull_down">Lateral Pull Down</option>
                                    <option value="ez_bar_curl">EZ Bar Curl</option>
                                    <option value="db_trap_raise">DB Trap Raise</option>
                                    <option value="db_lunges">DB Lunges</option>
                                    <option value="single_leg_curls">SL Curls</option>
                                    <option value="single_leg_extentions">SL Extentions</option>
                                    <option value="crunch_variation">Crunch Variation</option>
                                    <option value="arnold_press">Arnold Press</option>
                                    <option value="cable_extensions">Cable Extensions</option>
                                    <option value="seated_cable_row">Seated Cable Row</option>
                                    <option value="preacher_curls">Preacher Curls</option>
                                    <option value="incline_curls">Incline Curls</option>
                                </optgroup>
                            </select><br>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-10">
                            Weight:<br>
                            <input type="number" id="weight" class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            Reps:<br>
                            <input type="number" id="reps" class="form-control"><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="bg-dark form-control btn" value="Submit">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
