{% extends "layout.html" %}

{% block title %} WUP {% endblock %}

{% block body %}

<main role="main" class="inner-cover">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="login">
        <div class="panel panel-info">
            <div class="panel-body">

                <h1 class="cover-heading">Enter username:</h1>
                <p class="lead"> If you do not have a username, ask me for one and I can add you. </p>
                <br> <br>

                <form class="sucess-none form form-horizontal" id="loginForm" onsubmit="return false;">

                    <div class="form-group">
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="un-attempt">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="bg-dark form-control btn" value="Submit">
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <br> <br>

    <div class="main-page" style="display:none;">
        <h1 class="cover-heading">Choose what you'd like to do:</h1>
        <p class="lead">
            You may either see workout data already entered or you may log new workouts.
        </p>
        <br>
        <p class="lead">
            <a href="add_set" class="btn btn-lg btn-secondary">Log Workouts</a>
            <br> <br>
            <a href="view_all" class="btn btn-lg btn-secondary">View Workouts</a>
            <br> <br>
            <a href="request_movement" class="btn btn-lg btn-secondary">Request a New Movement</a>
        </p>
    </div>

</main>

<script>
    var users = [];
    window.addEventListener('load', () => {

        if (Cookies.get('username')) {
            $("#login").hide();
            $(".main-page").show();
        } else {
            firebase.database().ref('user').on('value', (snapshot) => {
                if (snapshot.exists()) {
                    var d = snapshot.val();
                    for (var k in d) {
                        v = d[k];
                        users.push({un:v.username,fn:v.fullname});
                    }
                }
            });
        }
    }); 

    $('#loginForm').submit((event) => {
        var un = $('#un-attempt').val(),
            found = false,
            fn = "";

        if (un == 'demo') {
            Cookies.set("username", un);
            Cookies.set("fullname", "Demo");
            $("#login").hide();
            $(".main-page").show();
            alert('You are now in demo mode. You can\'t add data but you can play with all the features.');
            return;
        }

        users.forEach((el) => {
            if (!found) {
                if (el.un == un) {
                    found = true;
                    fn = el.fn;
                }
            }
        });

        if (found) {
            Cookies.set("username", un);
            Cookies.set("fullname", fn);
            $("#login").hide();
            $(".main-page").show();
        } else {
            alert("Username not in database. If you think this is a mistake, contact me and I'll add you back in.");
        }
    });
</script>
{% endblock %}
