<!DOCTYPE html>
<html>
    <head>
        <title> WUP </title>
        {% include "head.html" %}
    </head>
    <body class="bg-primary">
        <br> <br> <br> <br>
        <h1>{% block title %} ALL ABOARD THE GAIN TRAIN {% endblock %}</h2>
        <br> <br> <br> <br>
        <center>
        {% block body %}
        {% endblock %}
        </center>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#config-web-app -->

        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyAc7ucu8Ma_AvXyPEGr1Ck2s0EFYHUMrTA",
                authDomain: "wup-db.firebaseapp.com",
                databaseURL: "https://wup-db.firebaseio.com",
                projectId: "wup-db",
                storageBucket: "",
                messagingSenderId: "1015545080703",
                appId: "1:1015545080703:web:7fd8d868393d87a827c84a"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
        </script>
    </body>
</html>
