
{% extends "layout.html" %}

{% block title %} View Data {% endblock %}

{% block body %}
{% include "back_button.html" %}

<h2>Today's Data</h2>
<table class="table" style="width:100%" id="id_todays_data">
    <tr id="header-row">
        <th>Lift</th>
        <th>Weight</th>
        <th>Reps</th>
    </tr>
</table>

<br><br>

<h2>Previous Day's Data (Limit 25)</h2>
<table class="table" style="width:100%" id="id_old_data">
    <tr id="header-row">
        <th>Date</th>
        <th>Lift</th>
        <th>Weight</th>
        <th>Reps</th>
    </tr>
</table>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var db = firebase.database();

        $(".tmp").remove();
        var user = Cookies.get('username');
        if (user == "demo") {
            alert('This is where your logged data would show up if you had an account.');
            return;
        }
        db.ref('set/' + user).limitToLast(25).on('value', (snapshot) => {
            if (snapshot.exists()) {
                var data = snapshot.val();
                for (var k in data) {
                    val = data[k];
                    content = ''
                    if (user == val.name) {
                        if (val.date == moment().format('YYYY-MM-DD')) {
                            content += '<tr class="tmp">';
                            content += '<td>' + val.lift + '</td>';
                            content += '<td>' + val.weight + '</td>';
                            content += '<td>' + val.reps + '</td>';
                            content += '</tr>';
                            $("#id_todays_data").append(content);
                        } else {
                            content += '<tr class="tmp">';
                            content += '<td>' + val.date + '</td>';
                            content += '<td>' + val.lift + '</td>';
                            content += '<td>' + val.weight + '</td>';
                            content += '<td>' + val.reps + '</td>';
                            content += '</tr>';
                            $("#id_old_data").append(content);
                        }
                    }
                };
                
            }
        });
    });

</script>
{% endblock %}
